@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';


.header__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 38px 0 35px;
}


.menu{
  margin-left: 60px;
  &__list{
    display: flex;
  }
  &__list-item + .menu__list-item{
    padding-left: 35px;
  }
  &__list-link{
    font-size: 15px;
    line-height: 15px;
    color: #436372;
    @extend %rubik-500;
  }
}

.user-nav{
  display: flex;
  align-items: center;
  &__link{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #edf1f4;
    margin-right: 20px;
  }
  
  &__images{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }
  &__num{
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    color: #000;
    font-size: 10px;
    line-height: 16px;
    text-align: center;
    top: 9px;
    right: 25px;
  }
  &__link:nth-child(2){
    width: 88px;
    height: 50px;
    background-color: #fcd7b6;
    border-radius: 50px 0 0 50px;
    margin-right: 0;
    &::after{
      content: "|";
      position: relative;
      font-size: 30px;
      font-weight: 400;
      color: #fde7d3;
      top: 14px;
      left: 84px;
    }
  }
  &__link:nth-child(3){
    width: 88px;
    height: 50px;
    background-color: #fcd7b6;
    border-radius: 0 50px 50px 0;
  }
}

.footer {
  color: #7b7b7b;
}

.footer-top{
  display: flex;
  justify-content: space-between;
  @extend %rubik-400;
  color: #7b7b7b;
  padding: 80px 0 70px;
  border-bottom: 1px solid #dae4e9;
  &__adress,
  &__email,
  &__phone{
    display: block;
    @extend %rubik-400;
    color: #7b7b7b;
    margin-bottom: 14px;
  }
  &__img{
    margin-bottom: 25px;
  }
  &__item {
    margin-bottom: 14px;
  }
  &__text{
    width: 230px;
    margin-bottom: 35px;
  }
  &__item-link {
    color: #7b7b7b;
  }
  &__title{
    @extend %dmsans-700;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 21px;
    color: #1f2044;
    margin:15px 0 25px;
  }
  &__input{
    max-width: 170px;
    width: 100%;
    background-color: #fef7f0;
    padding: 14px 19px 14px 18px;
    border: none;
    &::placeholder{
      color: #234969;
      @extend %dmsans-400;
      font-size: 12px;
    }
  }
  &__btn {
    border: none;
    background-color: #a3bbc8;
    padding: 14px 20px;
    color: #fff;
    font-size: 14px;
  }
}
.footer-bottom {
  padding: 36px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__list{
    display: flex;
    position: relative;
  }
  &__item + .footer-bottom__item {
    padding-left: 30px;
    
  }
  &__list-link {
    color: #7b7b7b;
  }
  &__item:nth-child(-n+3)::after{
    content: "";
    position: absolute;
    width: 1px;
    height: 16px;
    top: 2px;
    transform: translate(16px, 0px);
    background-color: #7b7b7b;
  }
  
}
.top-slider{
  
  &__inner{
    background-color: #fcd7b6;

  }
  &__item{
    display: flex !important;
    align-items: center;
    justify-content: center;
    padding: 100px 0 85px;
  }
  &__content{
    
    margin-right: 124px;
  }
  &__title{
    font-size: 72px;
    line-height: 70px;
    color: #243f4d;
    text-transform: uppercase;
    @extend %rubik-400;
    margin-bottom: 40px;
    max-width: 430px;
  }
  &__text{
    font-size: 18px;
    line-height: 24px;
    color: #436372;
    margin-bottom: 65px;
    max-width: 430px;
  }
  &__btn{
    width: 200px;
    height: 50px;
    background-color: #a3bbc8;
    padding: 22px 100px 20px 30px;
    color: #fff;
    position: relative;
    &::before{
      content: "";
      position: absolute;
      display: inline-block;
      width: 22px;
      height: 10px;
      top: 26px;
      right: 20px;
      background-image: url(../images/arrow-btn.svg);
      background-repeat: no-repeat;
    }
  }
  .slick-dots{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 45px;
    li {
      padding: 0 10px;
      button {
        border: none;
        background-color: #fde3cc;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        color: #243f4d;
        font-size: 11px;
        @extend %rubik-500;
      }
      &.slick-active {
        button {
          background-color: #fff;
          color: #243f4d;
        }
      }
    }
  }
  &__info{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 43px 0;
    background-color: #fef7f0;
    position: relative;
  }
  &__info-img{
    margin-top: 10px;
    margin-right: 26px;
  }
  &__info-item{
    maw-width: 296px;
    display: flex;
    &:nth-child(1){
      max-width: 286px;
    }
  }
  &__info-title--line::after,
  &__info-title--line::before{
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    background-color: #e8e4df;
  }
  &__info-title--line::after{
    left: 33%;
  }
  &__info-title--line::before{
    right: 33%;
  }
  &__info-title{
    @extend %dmsans-700;
    font-size: 18px;
    line-height: 40px;
    color: #414141;
  }
  
 
  &__info-subtitle{
    font-size: 16px;
    line-height: 30px;
    color: #585858;
  }
}

.product{
  padding-top: 70px;
  &__title{
    @extend %dmsans-700;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 35px;
  }
  &__filter-btn{
    text-align: center;
    margin-bottom: 80px;
    
  }
  .mixitup-control-active{
    color: #191919;
  }
  &__btn{
    border: none;
    background-color: inherit;
    @extend %dmsans-700;
    color: #8b8b8b;
    padding: 0;
    cursor: pointer;
  }
  &__btn + .product__btn {
    margin-left: 30px;
  }
  &__inner{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 38px 30px;
  }
  .product-item{
    width: 270px;
    min-height: 370px;
    height: 100%;
    background-color: #fff;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    &:hover{
      .product-item__link-box{
        opacity: 1;
      }
    }
    
    &__img{
      margin-bottom: 100px;
    }
    &__descr{
      position: absolute;
      left: 0;
      right: 0;
      bottom: 40px;
    }
    &__title{
      text-align: center;
      margin-bottom: 16px;
    }
    &__price{
      text-align: center;
      color: #a3bbc8;
    }
    &__link-box{
      position: absolute;
      text-align: center;
      left: 0;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      transition: all .5s;
      opacity: 0;
    }
    &__link {
      padding: 18px 10px 10px 12px;
      margin-right: 16px;
      border-radius: 50%;
      background-color: #fff;
      box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
      transition: all .3s;
      &:hover {
        background-color: #a3bbc8;
        path {
          fill: #fff;
        }
      }
    }
  }
  
}






@import 'media';