@import "vars";
@import "fonts";
@import "reset";
@import "global";
@import "libs";

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 38px 0 35px;
}

.menu {
  margin-left: 60px;
  &__list {
    display: flex;
  }
  &__list-item + .menu__list-item {
    padding-left: 35px;
  }
  &__list-link {
    font-size: 15px;
    line-height: 15px;
    color: #436372;
    @extend %rubik-500;
  }
}

.user-nav {
  display: flex;
  align-items: center;
  &__link {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #edf1f4;
    margin-right: 20px;
  }

  &__images {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__num {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    color: #000;
    font-size: 10px;
    line-height: 16px;
    text-align: center;
    top: 9px;
    right: 25px;
  }
  &__link:nth-child(2) {
    width: 88px;
    height: 50px;
    background-color: #fcd7b6;
    border-radius: 50px 0 0 50px;
    margin-right: 0;
    &::after {
      content: "|";
      position: relative;
      font-size: 30px;
      font-weight: 400;
      color: #fde7d3;
      top: 14px;
      left: 84px;
    }
  }
  &__link:nth-child(3) {
    width: 88px;
    height: 50px;
    background-color: #fcd7b6;
    border-radius: 0 50px 50px 0;
  }
}

.footer {
  color: #7b7b7b;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  @extend %rubik-400;
  color: #7b7b7b;
  padding: 80px 0 70px;
  border-bottom: 1px solid #dae4e9;
  &__adress,
  &__email,
  &__phone {
    display: block;
    @extend %rubik-400;
    color: #7b7b7b;
    margin-bottom: 14px;
  }
  &__img {
    margin-bottom: 25px;
  }
  &__item {
    margin-bottom: 14px;
  }
  &__text {
    width: 230px;
    margin-bottom: 35px;
  }
  &__item-link {
    color: #7b7b7b;
  }
  &__title {
    @extend %dmsans-700;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 21px;
    color: #1f2044;
    margin: 15px 0 25px;
  }
  &__input {
    max-width: 170px;
    width: 100%;
    background-color: #fef7f0;
    padding: 14px 19px 14px 18px;
    border: none;
    &::placeholder {
      color: #234969;
      @extend %dmsans-400;
      font-size: 12px;
    }
  }
  &__btn {
    border: none;
    background-color: #a3bbc8;
    padding: 14px 20px;
    color: #fff;
    font-size: 14px;
    margin-left: -3px;
  }
}
.footer-bottom {
  padding: 36px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__list {
    display: flex;
    position: relative;
  }
  &__item + .footer-bottom__item {
    padding-left: 30px;
  }
  &__list-link {
    color: #7b7b7b;
  }
  &__item:nth-child(-n + 3)::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 16px;
    top: 2px;
    transform: translate(16px, 0px);
    background-color: #7b7b7b;
  }
}
.top-slider {
  &__inner {
    background-color: #fcd7b6;
  }
  &__item {
    display: flex !important;
    align-items: center;
    justify-content: center;
    padding: 100px 0 85px;
  }
  &__content {
    margin-right: 124px;
  }

  &__title {
    font-size: 72px;
    line-height: 70px;
    color: #243f4d;
    text-transform: uppercase;
    @extend %rubik-400;
    margin-bottom: 40px;
    max-width: 430px;
  }
  &__text {
    font-size: 18px;
    line-height: 24px;
    color: #436372;
    margin-bottom: 65px;
    max-width: 430px;
  }
  &__btn {
    width: 200px;
    height: 50px;
    background-color: #a3bbc8;
    padding: 22px 100px 20px 30px;
    color: #fff;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      display: inline-block;
      width: 22px;
      height: 10px;
      top: 26px;
      right: 20px;
      background-image: url(../images/arrow-btn.svg);
      background-repeat: no-repeat;
    }
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 45px;
    li {
      padding: 0 10px;
      button {
        border: none;
        background-color: #fde3cc;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        color: #243f4d;
        font-size: 11px;
        @extend %rubik-500;
      }
      &.slick-active {
        button {
          background-color: #fff;
          color: #243f4d;
        }
      }
    }
  }
  &__info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 43px 0;
    background-color: #fef7f0;
    position: relative;
  }
  &__info-img {
    margin-top: 10px;
    margin-right: 26px;
  }
  &__info-item {
    width: 296px;
    display: flex;
    &:nth-child(1) {
      max-width: 286px;
    }
  }
  &__info-title--line::after,
  &__info-title--line::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    background-color: #e8e4df;
  }
  &__info-title--line::after {
    left: 33%;
  }
  &__info-title--line::before {
    right: 33%;
  }
  &__info-title {
    @extend %dmsans-700;
    font-size: 18px;
    line-height: 40px;
    color: #414141;
  }

  &__info-subtitle {
    font-size: 16px;
    line-height: 30px;
    color: #585858;
  }
}

.product {
  padding: 70px 0 180px;
  &__title {
    @extend %dmsans-700;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 35px;
  }
  &__filter-btn {
    text-align: center;
    margin-bottom: 80px;
  }
  .mixitup-control-active {
    color: #191919;
  }
  &__btn {
    border: none;
    background-color: inherit;
    @extend %dmsans-700;
    color: #8b8b8b;
    padding: 0;
    cursor: pointer;
  }
  &__btn + .product__btn {
    margin-left: 30px;
  }
  &__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 38px 30px;
  }
}

.product-item {
  width: 270px;
  min-height: 370px;
  height: 100%;
  background-color: #fff;
  box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  border-radius: 10px;
  position: relative;
  display: flex !important;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
  &:hover {
    .product-item__link-box {
      opacity: 1;
    }
  }

  &__img {
    margin-bottom: 100px;
  }
  &__descr {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
  }
  &__title {
    text-align: center;
    margin-bottom: 16px;
  }
  &__price {
    text-align: center;
    color: #a3bbc8;
  }
  &__link-box {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.5s;
    opacity: 0;
  }
  &__link {
    padding: 18px 10px 10px 12px;
    margin-right: 16px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    transition: all 0.3s;
    &:hover {
      background-color: #a3bbc8;
      path {
        fill: #fff;
      }
    }
  }
}

.light {
  padding-bottom: 55px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  .light-item {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 870px;
    width: 100%;
    height: 380px;
    background-color: #feefe2;
    position: relative;
    &__img {
      margin-left: 50px;
      margin-bottom: 160px;
    }
    &__descr {
      max-width: 300px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 60px;
    }
    &__title {
      color: #243f4d;
      @extend %dmsans-700;
      font-size: 26px;
      margin-bottom: 25px;
    }
    &__subtitle {
      text-transform: uppercase;
      font-size: 16px;
      color: #243f4d;
      line-height: 30px;
      margin-bottom: 30px;
    }
    &__btn {
      max-width: 180px;
      height: 60px;
      border: 1px solid #b3b7b5;
      padding-top: 19px;
    }
    &__btn-item {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    &__btn-text {
      color: #436372;
      @extend %rubik-500;
      font-size: 15px;
      display: block;
    }
    &__btn-img {
      display: block;
    }
  }
}

.gallery {
  padding: 50px 0 60px;
  &__title {
    text-align: center;
    color: #191919;
    font-size: 36px;
    margin-bottom: 25px;
  }
  &__filter-btn {
    text-align: center;
    margin-bottom: 75px;
  }
  &__btn {
    border: none;
    padding: 0;
    background-color: inherit;
    color: #8b8b8b;
    cursor: pointer;
  }
  &__btn + .gallery__btn {
    padding-left: 30px;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 34px 30px;
  }
  &__item {
    position: relative;
  }
  &__item-descr {
    position: absolute;
    top: 40px;
    left: 37px;
  }
  &__item-title {
    margin-bottom: 10px;
  }
  &__item-subtitle {
    margin-bottom: 20px;
  }
  &__item-title,
  &__item-subtitle {
    @extend %dmsans-700;
    font-size: 20px;
  }
  &__item-text {
    color: #a3bbc8;
    @extend %dmsans-700;
  }
  .video {
    background-image: url("../images/video-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 502px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
  }
}

.insight {
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  &__title {
    font-size: 36px;
    line-height: 48px;
    color: #191919;
    @extend %dmsans-700;
  }
  &__link {
    @extend %dmsans-700;
    font-size: 16px;
    color: #262626;
  }
  &__items {
    display: flex;
    justify-content: space-between;
    margin-bottom: -160px;
  }
  &__item {
    background-color: #fff;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  }
  &__item-img {
    margin-bottom: -10px;
  }
  &__descr {
    padding-left: 20px;
  }
  &__news {
    background-color: #a3bbc8;
    color: #fff;
    text-transform: uppercase;
    @extend %poppins-700;
    font-size: 14px;
    padding: 10px 31px;
    border-radius: 50px;
    &:hover {
      background-color: #fff;
      color: #a3bbc8;
      border: 4px solid #a3bbc8;
    }
  }
  &__text {
    margin-top: 10px;
    max-width: 325px;
    @extend %dmsans-500;
    color: #262626;
    font-size: 18px;
    line-height: 20px;
    padding: 10px 5px 15px 5px;
    border-bottom: 1px solid #e0e0e0;
  }
  &__copy {
    display: flex;
    padding-top: 10px;
    margin-bottom: 25px;
  }
  &__copy-text {
    display: block;
    padding-left: 20px;
    color: #222933;
    @extend %rubik-500;
    font-size: 14px;
  }
  &__partners {
    background-color: #fef7f0;
    padding: 250px 0 88px;
  }
  &__partners-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.about-top {
  background-color: #edf1f4;
  text-align: center;
  padding: 35px 0 30px;
  &__title {
    font-size: 36px;
    @extend %rubik-300;
    color: #222933;
    margin-bottom: 15px;
  }
}

.about-content {
  padding: 120px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__block-text {
    max-width: 556px;
  }

  &__exp {
    display: flex;
    align-items: center;
    margin-bottom: 45px;
  }
  &__subtitlnum {
    @extend %rubik-700;
    font-size: 140px;
    color: #a3bbc8;
    margin-right: 25px;
  }
  &__subtitle {
    max-width: 85px;
    font-size: 16px;
    @extend %rubik-400;
    color: #243f4d;
    line-height: 40px;
  }
  &__title {
    font-size: 36px;
    @extend %dmsans-700;
    color: #243f4d;
    line-height: 42px;
    margin-bottom: 40px;
  }
  &__text {
    color: #243f4d;
    font-size: 16px;
    @extend %rubik-400;
    padding-bottom: 65px;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      width: 500px;
      height: 3px;
      background-color: #e6eaf0;
      left: 0;
      bottom: 22px;
    }
  }
  &__items {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
  }
  &__item {
    position: relative;
  }
  &__item svg {
    position: absolute;
    left: -50px;
    top: 0;
  }
  &__num {
    display: block;
    font-size: 36px;
    @extend %dmsans-700;
    color: #243f4d;
    margin-bottom: 12px;
  }
  &__num-text {
    font-size: 16px;
    color: #4c4c4c;
    @extend %dmsans-700;
  }
  &__item--line::after,
  &__item--line::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 80px;
    background-color: #e6eaf0;
  }
  &__item--line::after {
    top: -12px;
    left: -78px;
  }
  &__item--line::before {
    top: -12px;
    right: -30px;
  }
}

.about-nums {
  padding: 83px 0 73px;
  background-color: #fcd7b6;
  &__items {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__title {
    text-align: center;
    color: #243f4d;
    @extend %dmsans-700;
    font-size: 36px;
    line-height: 40px;
    margin: 20px 0;
  }
  &__subtitle {
    text-align: center;
    color: #243f4d;
    @extend %dmsans-700;
    font-size: 18px;
  }
}

.team {
  padding: 120px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__text {
    max-width: 295px;
  }
  &__title {
    @extend %title;
    margin-bottom: 35px;
  }
  &__subtitle {
    @extend %rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: #565872;
    margin-bottom: 40px;
  }
  &__btn {
    width: 170px;
    height: 50px;
    background-color: #a3bbc8;
    color: #fff;
    padding: 19px 60px 19px 18px;
    @extend %poppins-600;
    font-size: 15px;
    border-radius: 5px;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      width: 15px;
      height: 11px;
      background-image: url("../images/icons/arrow-btn-right.svg");
      top: 50%;
      transform: translateY(-50%);
      right: 25px;
    }
  }
  &__person {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px 30px;
  }
  &__person-name {
    @extend %dmsans-700;
    font-size: 22px;
    color: #436372;
    margin-bottom: 20px;
  }
  &__person-position {
    @extend %rubik-400;
    font-size: 16px;
    color: #565872;
  }
  &__person-item {
    img {
      width: 370px;
      height: 320px;
    }
  }
  &__person-infobox {
    position: relative;
    width: 326px;
    height: 110px;
    background-color: #fff;
    padding: 20px 20px;
    box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
    margin-top: -50px;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__person-social {
    display: flex;
    align-items: center;
  }
  &__person-sociallink {
    margin-left: 25px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background-color: #a3bbc8;
      path {
        fill: #fff;
      }
    }
  }
}

.terms {
  padding: 120px 0;
  &__title {
    @extend %title;
    margin-bottom: 28px;
  }
  &__list {
    margin-bottom: 75px;
    counter-reset: num;
  }
  &__list-text {
    margin-left: 30px;
    @extend %rubik-400;
    font-size: 16px;
    color: #243f4d;
    margin-bottom: 35px;
    padding-left: 10px;
    position: relative;
    list-style-type: none;
    &:before {
      content: "0" counter(num) ". ";
      counter-increment: num;
      position: absolute;
      left: -22px;
      @extend %rubik-400;
      font-size: 16px;
      color: #243f4d;
    }
  }
  &__text {
    @extend %rubik-400;
    font-size: 16px;
    color: #243f4d;
    margin-bottom: 75px;
  }
}

.modal {
  &__form {
    padding: 120px 0;
    max-width: 470px;
    margin: 0 auto;
  }
  &__label {
    display: block;
    @extend %rubik-400;
    font-size: 16px;
    color: #436372;
    margin-bottom: 23px;
  }
  &__label-text {
    display: block;
    margin-bottom: 15px;
  }
  &__input {
    display: block;
    width: 100%;
    height: 60px;
    border: 1px solid #f6f6f6;
  }
  &__btn-login {
    width: 100%;
    border: none;
    background-color: #a3bbc8;
    color: #fff;
    padding: 23px 0;
    @extend %rubik-500;
    font-size: 18px;
    margin-bottom: 35px;
  }
  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f6f6f6;
  }
  &__error {
    @extend %rubik-400;
    font-size: 16px;
    color: #436372;
  }
  &__register {
    display: block;
    text-align: center;
    padding-top: 33px;
    @extend %rubik-400;
    font-size: 16px;
    color: #436372;
    margin-bottom: 25px;
  }
  &__btn-create {
    display: inline-block;
    width: 100%;
    border: 2px solid #a3bbc8;
    background-color: #fff;
    padding: 22px 0;
    @extend %rubik-500;
    font-size: 18px;
    margin-bottom: 35px;
  }
  &__partners {
    background-color: #fef7f0;
    padding: 85px 0;
  }
  &__partners-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.product-list {
  position: absolute;
  left: 34%;
  top: 50px;
  &__btn {
    display: flex;
    span {
      margin-right: 15px;
    }
  }
}

.product-page {
  position: relative;
  padding: 120px 0;
  
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__filters {
    min-width: 270px;
    margin-right: 30px;
  }
  &__partners {
    background-color: #fef7f0;
    padding: 85px 0;
  }
  &__partners-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__content-buttons {
    margin-top: -60px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    span {
      font-size: 18px;
      @extend %rubik-400;
      color: #243f4d;
    }
  }

  &__content-btn {
    outline-color: transparent;
    border: none;
    background-color: transparent;
    padding: 0;
    margin-left: 10px;
    cursor: pointer;
    svg {
      display: flex;
      align-items: center;
      path {
        fill: #a3bbc8;
      }
    }
    &:hover {
      path {
        fill: #243f4d;
      }
    }
    &.product-page__content-btn--active {
      path {
        fill: #243f4d;
      }
    }
  }

  &__content-inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &.product-page__content-inner--list{
      display: none;
    }
  }
  &__content-wrapper {
    display: none;
    &.product-page__content-wrapper--list{
      display: block;
      justify-content: space-between;
    }
    
  }
  &__content-item{
    display: flex;
    align-items: center;
  }
  &__content-image{
    min-width: 370px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #f2f2f2;
    margin-right: 55px;
    margin-bottom: 40px;
  }
  &__content-title{
    @extend %rubik-400;
    font-size: 40px;
    color: #333333;
  }
  &__content-star{
    margin: 20px 0 25px;
  }
  &__content-price{
    @extend %rubik-400;
    font-size: 30px;
    color: #333333;
    margin-bottom: 30px;
  }
  &__content-text{
    color: #243f4d;
    @extend %rubik-400;
    font-size: 16px;
    margin-bottom: 40px;
  }
  &__content-link{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    &:hover{
      background-color: #a2bac7;
      path{
        fill: #fff;
      }
    }
  }
}


.filter {
  &__item {
    margin-bottom: 45px;
  }
  &__title {
    display: inline-block;
    font-size: 18px;
    @extend %dmsans-700;
    color: #243f4d;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 30px;
    &::after {
      content: "";
      position: absolute;
      width: 38px;
      height: 1px;
      background-color: #a3bbc8;
      top: 50%;
      transform: translateY(-50%);
      right: -60px;
    }
  }
}

.filter-category {
  &__checkbox {
    margin-bottom: 2px;
    display: flex;
    justify-content: space-between;
    padding: 15px 23px 15px 15px;
    border-radius: 5px;
    transition: all 0.3s;
    span {
      font-size: 16px;
      @extend %rubik-400;
      color: #243f4d;
    }
    &:hover {
      background-color: #edf1f4;
    }
  }
  &__box {
    display: flex;
  }
  &__input {
    @extend %checkbox-hidden;
    &:checked + .filter-category__checkbox {
      background-color: #edf1f4;
    }
  }
}

.irs--flat {
  margin-bottom: 18px;
}

.irs-min,
.irs-max {
  display: none;
}

.irs-from,
.irs-to {
  display: none;
}

.irs--flat .irs-line {
  height: 3px;
  background-color: #c2d2db;
}

.irs--flat .irs-bar {
  top: 25px;
  height: 3px;
  background-color: #a3bbc8;
}

.irs--flat .irs-handle > i:first-child {
  top: -5px;
  width: 16px;
  background-color: #a3bbc8;
}

.irs--flat .irs-handle.state_hover > i:first-child,
.irs--flat .irs-handle:hover > i:first-child {
  background-color: transparent;
}

.irs--flat .irs-handle {
    top: 19px;
    width: 15px;
    height: 15px;
    background-color: #a3bbc8;
}

.irs--flat .irs-handle>i:first-child {
    background-color: transparent;
}

.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
  display: none;
}

.filter-price {
  margin-bottom: 80px;
  &__label {
    display: flex;
    justify-content: space-between;
    span {
      @extend %rubik-400;
      color: #243f4d;
      font-size: 14px;
    }
  }
  &__from,
  &__to {
    @extend %rubik-400;
    color: #243f4d;
    font-size: 14px;
  }
}

.filter-brand {
  &__checkbox {
    margin-bottom: 2px;
    display: flex;
    justify-content: space-between;
    padding: 15px 23px 15px 15px;
    border-radius: 5px;
    transition: all 0.3s;
    &:hover {
      background-color: #edf1f4;
      .filter-brand__subtext {
        color: #243f4d;
      }
    }
  }
  &__text {
    font-size: 16px;
    @extend %rubik-400;
    color: #243f4d;
  }
  &__subtext {
    font-size: 16px;
    @extend %rubik-400;
    color: #b3b3b3;
    transition: all 0.3s;
  }
  &__box {
    display: flex;
  }
  &__input {
    @extend %checkbox-hidden;
    &:checked + .filter-brand__checkbox {
      background-color: #edf1f4;
      .filter-brand__subtext {
        color: #243f4d;
      }
    }
  }
}

.filter-products {
  &__item {
    display: flex;
  }
  &__item-img {
    width: 70px;
    height: 70px;
    border: 1px solid #f2f2f2;
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__info-title {
    font-size: 14px;
    @extend %rubik-400;
    color: #333333;
  }
  &__info {
    span {
      font-size: 15px;
      @extend %rubik-400;
      color: #333333;
    }
  }
}

.jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group > svg {
  margin: 5px 4px 8px 0px;
}

.jq-ry-container {
  padding: 0;
}

.pagination {
  display: flex;
  justify-content: center;
  padding-top: 110px;
  &.pagination--list {
    justify-content: end;
    padding-top: 75px;
  }
  &__list {
    display: flex;
  }
  &__prev,
  &__next {
    color: #243f4d;
    @extend %rubik-400;
    font-size: 16px;
    width: 72px;
    height: 50px;
    border: 1px solid #a3bbc8;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__prev {
    margin-right: 15px;
    transition: all 0.3s;
    &:hover {
      background-color: #a3bbc8;
      color: #fff;
    }
  }
  &__next {
    margin-left: 15px;
    transition: all 0.3s;
    &:hover {
      background-color: #a3bbc8;
      color: #fff;
    }
  }

  &__link + .pagination__link {
    margin-left: 15px;
  }
  &__link {
    color: #243f4d;
    @extend %rubik-400;
    font-size: 16px;
    width: 50px;
    height: 50px;
    border: 1px solid #a3bbc8;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    &:hover {
      background-color: #a3bbc8;
      color: #fff;
    }
  }
  &__link--active {
    background-color: #a3bbc8;
    color: #fff;
  }
  .pagination__prev {
    display: none;
  }
}

.detalis{
  padding: 120px 0 110px;
  &__inner{
    display: flex;
  }
}


.detalis-slider{
  width: 550px;
  height: 525px;
  display: flex;
  margin-right: 70px;
  &__thumb{
    width: 135px;
    margin-right: 25px;
  }
  &__thumb-item{
    width: 135px;
    height: 157px; 
    border: 1px solid #f2f2f2;
    cursor: pointer;
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
  }
  &__thumb-img{
    width: 65px;
    height: 97px;
    object-fit: cover;
  }
  &__big{
    width: 385px;
  }
  &__big-item{
    width: 385px;
    height: 525px;
    border: 1px solid #f2f2f2;
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
  &__big-img{
    max-width: 233px;
    height: 405px;
    object-fit: cover;
    
  }
}

.detalis-content {
  &__title{
    @extend %rubik-400;
    font-size: 40px;
    color: #333333;
  }
  &__star{
    padding: 25px 0 35px;
  }
  &__price{
    @extend %rubik-400;
    font-size: 30px;
    color: #333333;
    margin-bottom: 35px;
  }
  &__text{
    @extend %rubik-400;
    font-size: 16px;
    color: #243f4d;
    margin-bottom: 35px;
  }
  &__btn{
    width: 208px;
    height: 53px;
    border: none;
    background-color: #a3bbc8;
    border-radius: 4px;
    color: #fff;
    @extend %rubik-400;
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 55px;
  }
  &__category-item{
    display: flex;
    @extend %rubik-400;
    font-size: 16px;
    color: #243f4d;
    margin-bottom: 15px;
  }
  &__category-title{
    margin-right: 5px;
  }
}

.detalis-tabs{
  padding: 100px 0 120px;
  &__top{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }
  
  &__top-link{
    @extend %rubik-500;
    font-size: 18px;
    color: #243f4d;
    width: 240px;
    height: 53px;
    background-color: #edf1f4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: all .3s;
    &:hover{
      color: #fff;
      background-color: #a3bbc8;
    }
  }
  &__top-link--active{
    color: #fff;
    background-color: #a3bbc8;
  }
  &__top-link + .detalis-tabs__top-link {
    margin-left: 15px;
  }
  &__content-item {
    @extend %rubik-400;
    font-size: 16px;
    color: #243f4d;
    display: none;
    &.detalis-tabs__content-item--active{
      display: block;
    }
  }
}

.detalis-related{
  &__title{
    @extend %dmsans-700;
    color: #243f4d;
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 70px;
  }
}

.slick-prev.slick-arrow,
.slick-next.slick-arrow{
  border: none;
  padding: 0;
  position: absolute;
  top: -95px;
  right: 0;
  font-size: 0;
  width: 45px;
  height: 45px;
  border-radius: 5px;
  border: 2px solid #edf1f4;
  background-color: transparent;
  transition: all .3s;
  &:hover{
    border-color: #a3bbc8;
  }
}
.slick-next.slick-arrow{
  right: 0;
  background-image: url(../images/icons/arrow-slider-next.svg);
  background-repeat: no-repeat;
  background-position: center center;
}
.slick-prev.slick-arrow{
  right: 60px;
  background-image: url(../images/icons/arrow-slider-prev.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.jq-number {
  padding: 0 50px;
  margin-top: -3px;
  margin-right: 15px;
}

.jq-number__field input {
  padding: 17px 20px;
  font-size: 15px;
  @extend %rubik-400;
  color: #333333;
}

.jq-number__field {
  width: 53px;
  height: 53px;
  border: 1px solid #a3bbc8;
  border-radius: 0;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
}

.jq-number__spin.minus {
  left: -2px;
  width: 53px;
  height: 53px;
  border: 1px solid #a3bbc8;
  background-color: transparent;
}

.jq-number__spin.plus {
  right: -2px;
  width: 53px;
  height: 53px;
  border: 1px solid #a3bbc8;
  background-color: transparent;
}

.jq-number__spin {
    position: absolute;
    top: 0;
    right: -14px;
    width: 32px;
    height: 14px;
    border: 1px solid #CCC;
    border-bottom-color: #B3B3B3;
    border-radius: 0px;
    background: none;
    box-shadow: none;
    box-shadow: none;
    user-select: none;
    text-shadow: 1px 1px #FFF;
    cursor: pointer;
}

.jq-number__spin:hover {
    background: none;;
}

.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  border: none;
  content: "";
  position: absolute;
  width: 12px;
  height: 1px;
  background-color: #000;
  top: 24px;
  left: 20px;
}

.jq-number__spin.plus:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 12px;
  background-color: #000;
  top: 19px;
  right: 25px;
}